@font-face {
    font-family: 'segoeui';
    src: url(font/segoe-ui-light.ttf);
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
}  

@font-face {
    font-family: 'bloodcrow';
    src: url(font/bloodcrow.ttf);
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
} 

html {
    --red: #FF0009;
    --black: #000000;
    --white: #ffffff;
    --segoe: 'segoeui', Arial, sans-serif;
    --bloodcrow: 'bloodcrow';
}

* {
    box-sizing: border-box;
}

body {
    max-width: 1280px;
    max-height: 800px;
    background-image: url(media/background11.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    margin-inline: auto;
}

#question {
    font-family: var(--bloodcrow);
    color: var(--white);
    display: flex;
    justify-content: center;
    margin: 20px;
    letter-spacing: 3px;
    font-size: 24px;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


.main {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--segoe);

    .container {
        position: relative;
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: repeat(5, 20%);
        justify-items: center;
        grid-template-areas:
        ". tengen tanjiro zenitsu ."
        "shinobu . . . inosuke"
        "rengoku . . . giyu"
        "sanemi . . . gyomei"
        ". obanai muichiro mitsuri .";
        width: 800px;
        height: 800px;
        gap: 10px;
        margin: auto;
        justify-items: center;
            
            
            
            img {
                height: 100px;
                width: auto;
                border-style: solid;
                border-radius: 30px;
            }

        button {
            display: block;
            position: relative;
            background-color: transparent;
            border: none;
        }

        .tanjiro { grid-area: tanjiro;}

        .zenitsu { grid-area: zenitsu;}
        .inosuke { grid-area: inosuke;}
        .giyu { grid-area: giyu;}
        .gyomei { grid-area: gyomei;}
        .mitsuri { grid-area: mitsuri;}
        .muichiro { grid-area: muichiro;}
        .obanai { grid-area: obanai; }
        .sanemi { grid-area: sanemi;}
        .rengoku { grid-area: rengoku;}
        .shinobu { grid-area: shinobu;}
        .tengen { grid-area: tengen; }


    }

    #input {
        img {
            height: 200px;
            width: auto;
        }
    }
}



