@font-face {
    font-family: 'segoeui';
    src: url(font/segoe-ui-light.ttf);
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
}  

@font-face {
    font-family: 'bloodcrow';
    src: url(font/bloodcrow.ttf);
    font-style: normal;
    font-display: swap;
    font-weight: 100 900;
} 

html {
    --red: #FF0009;
    --black: #000000;
    --white: #ffffff;
    --segoe: 'segoeui', Arial, sans-serif;
    --bloodcrow: 'bloodcrow';
}

* {
    box-sizing: border-box;
}

body {
    max-width: 1280px;
    max-height: 800px;
    background-image: url(media/background11.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    margin-inline: auto;
}


/* what hashira are you? */
#question {
    font-family: var(--bloodcrow);
    color: var(--white);
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-top: 5px;
    letter-spacing: 3px;
    font-size: 24px;
    text-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}



    .container {
        position: relative;
        display: grid;
        grid-template-columns: repeat(5, 20%);
        grid-template-rows: repeat(5, 20%);
        justify-items: center;
        grid-template-areas:
        ". tengen tanjiro zenitsu ."
        "shinobu . logo . inosuke"
        "rengoku . input . giyu"
        "sanemi . . . gyomei"
        ". obanai muichiro mitsuri .";
        width: 850px;
        height: 750px;
        gap: 10px;
        margin: auto;
        justify-items: center;
        font-family: var(--segoe);
            
            
            
            img {
                height: 100px;
                width: auto;
                border-style: solid;
                border-radius: 30px;
            }

        /* button */
        button {
            display: block;
            position: relative;
            background-color: transparent;
            border: none;
            color: var(--white);
            transition: all 0.5s;
        }


        /* button hover */
        button:hover {
            transform: scale(1.5);
        }

        picture img {
            border: none;
        }




        /* grid area assign */

        .tanjiro { grid-area: tanjiro;}

        .zenitsu {
            grid-area: zenitsu;
            top: 30px;
        }

        .inosuke {
            grid-area: inosuke;
            right: 40px;
        }

        .giyu { grid-area: giyu;}

        .gyomei {
            grid-area: gyomei;
            right: 40px;
        }
        .mitsuri {
            grid-area: mitsuri;
            bottom: 30px;
        }

        .muichiro { grid-area: muichiro;}

        .obanai {
            grid-area: obanai;
            bottom: 30px;
        }

        .sanemi {
            grid-area: sanemi;
            left: 40px;
        }
        .rengoku { grid-area: rengoku;}

        .shinobu {
            grid-area: shinobu;
            left: 40px;
        }

        .tengen {
            grid-area: tengen; 
            top: 30px;
        }

        .logo {
            grid-area: logo;

            img {
                height: 200px;
                width: auto;
            }
        }

        #input { grid-area: input;}


    }

  


@media (max-width <= 350) {
    #question {
        letter-spacing: 1.5px;
        text-wrap: balance;
    }

    .container {
        width: 213.5px;
        height: 200px;
        gap: 5px;

        img {
            height: 25px;
            width: auto;
            border-style: solid;
            border-radius: 8px;
        }

        .logo {
            img {
                height: 35px;
                width: auto;
            }
        }
    }
}

